.repo-name-div {
    display: flex;
    align-items: center;
}

.repo-name {
    white-space: nowrap;
    line-height: 1.1;
    text-overflow: ellipsis;
    color: rgb(36, 41, 46);
    font-family: "Google Sans Regular";
    margin-bottom: 0.75rem;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.5px;
    overflow: hidden;
    margin: 0px;
}


.repo-description {
    word-wrap: break-word;
    text-align: left;
    display: -webkit-box;
    font-family: "Google Sans Regular";
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.repo-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -50%;
    /* margin-bottom: 4%; */
    /* margin-left: -60px; */
  
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


@media (max-width: 768px) {
    .repo-name {
        font-size: 16px;
    }

    .repo-description {
        font-size: 14px;
    }

    /* .repo-details {
        flex-direction: column;
    } */
}